@model Library2.Models.User
<br />
@using (Html.BeginForm("Login", "Account"))
{
    <div>
        <div class="form-horizontal">
            <div class="form-group">
                <input class="form-control" name="Login" placeholder="Username" type="text" id="Login" >
            </div>
            <div class="form-group">
                <input class="form-control" name="Password" placeholder="Password" type="text" id="Password" >
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </div>

    </div>
}

@*@using (Html.BeginForm("Login", "Home"))
{
    @Html.TextAreaFor(x => x.Login, new { @class = "form-control" });
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" });
    <input class="btn btn-default" type="submit" value="Log in" />
}*@